:root {
  --bg-color: #EEE;
  --main-color: #2c3e50;
  --accent-color: #FFAB00;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
